<!DOCTYPE html>
<html>
  <head>
    <title>CUER WSC Map</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
    #map {
        height: 800px;
        width: 100%;
    }
    #legend {
      padding: 10px 20px;
      margin: 10px 20px;
    }
    i {
        vertical-align: middle;
        margin-right: 10px;
    }
    </style>
  </head>
  <script>
    var locations = {{ locations|safe }};
  </script>
  <script async src={{ url_for('static', filename='map.js') }}></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKMi9WI9oyR8L3gaUUbuo5oye3YMbHxzs&callback=initMap"></script>
  <body>
    <div>
      <div id="map"></div>
      <div id="legend">
        <p>Map last updated at: {{ last_update }} ACST</p>
        <p>CS - Control Stop - A regulation enforced 30 minute stop where the drivers swap and the solar car is topped up with petrol.</p>
        <p>All times in ACST</p>
      </div>
    </div>
  </body>
</html>
